<?xml version="1.0" encoding="UTF-8" standalone="yes"?><jarSettings><jvm>C:\Users\minio\Documents\BIM Server\BIMserver-master\bimserverjar-1.5.88</jvm><homedir>C:\Users\minio\Documents\BIM Server\BIMserver-master\Home</homedir><address>localhost</address><proxyHost></proxyHost><useProxy>false</useProxy><proxyPort>1080</proxyPort><port>8082</port><heapsize>8192m</heapsize><stacksize>256k</stacksize><forceipv4>true</forceipv4></jarSettings>